/* root styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
html{
    margin-bottom: 0;
    scroll-behavior: smooth;
}
body{
    background: #f3f3f3;
    overflow-x: hidden;
}
*{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    animation-duration: 2s !important;
    animation-delay: 0.8s;
}
/***Header Style***/
header{
    background-image: url(/images/header-bg.jpg);
    height: 100vh;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.navbar{
    padding: 10px 9%;
    background: rgb(56, 18, 56);
}
a:hover{
    text-decoration: none;
}
.ul-nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0;
}
.header-nav-link{
    color: white !important;
    display: flex;
    font-size: 15px;
    font-weight: bold;

}
.navbar-collapse{
    justify-content: flex-end;
}
#nav-logo{
    width: 50px;
    height: 50px;
    /* margin-right: 25rem; */
}
nav li{
    display: inline;
}
.link-hover-effect-1 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0.5rem 0;
}

.link-hover-effect-1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: translateX(-105%);
  transition: transform 0.5s ease-in-out;
}

.link-hover-effect-1:hover::before {
  transform: translateX(0);
}
.dropdown-menu.show{
    padding-left: 10px;
    background: #381238;
    width: 200px;
}
.dropdown-menu a{
    color: white;
}

.carousel-div{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item{
    color: white;
    text-align: center;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    display: none !important;
}
.slide-h2{
    font-size: 42px;
    color: #ffd700;
    text-transform: uppercase;
    font-weight: bold;
}
.slide-p{
    font-size: 20px;
    font-family: verdana;
    font-weight: 500;
    margin-top: 15px;
}
.carousel-indicators{
    display: none;
}
.countdown-div{
    height: 50vh;
    margin-bottom: 40px;
}

.wfm-text-logo{
    width: 10px;
    height: 5px;
}

.wwa{
    margin-top: 30px;
    margin-bottom: 50px;
}
.wwa h1{
    font-size: 45px;
}
.wwa p{
    display: inline;
    font-size: 16px;
}
.wwa a{
    font-style: italic;
    margin-left: 20px;
}

.cw-div, .transcend-div, .metamorphoo-div{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: none;
    margin-bottom: 50px;
    /* padding: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0; */
    /* height: 40vh; */

}
.arms-div div img{
    width: 200px;
    height: 150px;
    object-fit: contain;
}
.light-trans-img{
    width: 120px;
    object-fit: contain;
}
.arms-img-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 120px;

}
.cw-div{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/WEB\ \(CW\).jpg);
     
}
.transcend-div{
     background-image: linear-gradient(rgba(105, 24, 24, 0.6), rgba(66, 4, 4, 0.6)), url(/images/TW\ 1.jpg);
    
}
.metamorphoo-div{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/WEB\ MN.jpg);
     
}
.lightstream-div{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/LS\ 1.jpg);
     
}
.trans-img-div{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 150px;
}
.arms-text-div{
    width: 520px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 90px;
    padding: 50px;
}
.arms-title{
    display: block;
    font-weight: bold;
}
.align-right{
    text-align: right;
}
.arms-link{
    color: white;
    border:  0.1rem solid white;
    border-radius: 1rem;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 90px;
}
.arms-link:hover{
    text-decoration: none;
    background: white;
    color: black;
}
.trans-text {
    margin-left: 90px;
}
/* .conference{
    margin-top: 80px;
}
.conference-h1{
    text-align: center;
    color: #707070;
}
.conference-h2{
    text-align: center;
    font-size: 20px;
    color: #707070;
}
/* .conference-img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-top: 30px;
}
.conference-title{
    padding-top: 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #444444;
}
.conference-desc{
    text-align: center;
    font-size:14px;
    font-weight: 400;
    color: #444444;

}
.conference-post{
    display: flex ;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
 
}
.conference-box{
    margin-right: 150px;
}
.conference-link{
    color: #444444;
    border:  0.15rem solid #444444;
    border-radius: 1rem;
    padding: 5px 20px;
    font-size: 9px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    margin-left: 90px;
}
.conference-link:hover{
    text-decoration: none;
    background: #444444;
    color: white;
}
.conference-img-div img{
    border-radius: 9px;
} */ */

/* Conferences Section */
.conference{
    margin-top: 80px;
}
.conference-container {
  position: relative;
  /* width: 1000px; */
  height: 700px;
  overflow: hidden;
  cursor: grab;
}
.conference-cards {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(6, 300px);
  grid-gap: 50px;
  pointer-events: none;
}
.conference-h1{
    text-align: center;
    color: #707070;
}
.conference-h2{
    text-align: center;
    font-size: 20px;
    color: #707070;
}
.conference-img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-top: 30px;
}
.conference-title{
    padding-top: 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #444444;
}
.conference-desc{
    text-align: center;
    font-size:14px;
    font-weight: 400;
    color: #444444;
}
.conference-post{
    display: flex ;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}
.conference-link{
    color: #444444;
    border:  0.15rem solid #444444;
    border-radius: 1rem;
    padding: 5px 20px;
    font-size: 9px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    margin-left: 90px;
}
.conference-link:hover{
    text-decoration: none;
    background: #444444;
    color: white;
}
.conference-img-div img{
    border-radius: 9px;
}

/* width */
/* ::-webkit-scrollbar{
  width: 5px;
  height: 8px;
}

/* Track */

 
/* Handle */
/* ::-webkit-scrollbar-thumb{
  background: rgb(88, 80, 80); 
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover{
  background: #575252;  */
.nation-prayer{
    margin: 0;
    padding: 0;
    
}
.nations-img{
    max-width: 99vw;
}

.youtube-div{
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.youtube-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.youtube-title{
    max-width: 300px;
    color: #707070;
}
.youtube-title p{
    font-size: 15px;
}
.youtube-vid-1 iframe{
    border-radius: 5%;
}
.youtube-vid-1 h3{
    font-size: 18px;
    font-weight: 600;
}
.article-div{
    background: url(/images/TEXTURE.png);
    /* height: 646px; */
    position: relative;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 80px;
}
.feed-content-div{
    padding: 20px;
    background: white;
    border-radius: 5%;
      margin-right: -20px;
      max-width: 400px;
      height: 300px;
      overflow-y: scroll;

}
.feed-content-div p{
 white-space: nowrap; 
  max-width: 400px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.feed-hr{
  border: 0.01px solid rgba(31, 28, 28,0.5);
}
.feed-content-div a{
    color: #444444;
}
.feed-div h2{
    margin-left: 20px;
}
.facebook-feed-div{
     padding: 20px;
    background: white;
      margin-right: -20px;
      max-width: 380px;
      height: 550px;

}
.mixlr-a{
    text-decoration: none;
    color: #707070;
}
.mixlr-a:hover{
    color: #444444 ;
}
.mixlr-div{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.mixlr-img{
    height: 250px;
    width: 250px;
    object-fit: contain;
    margin-left: -60px;
}
.mixlr-join-text{
    font-family: segoe UI;
    font-size: 20px;
    margin-bottom: 0;
}
.mixlr-text{
    margin-left: -20px;
}
.mixlr-text h2{
    font-weight: bolder;
    font-family: 'Gotham Ultra', sans-serif;
    font-size: 40px;
    color: #191919;
}
/*Footer Styles*/

footer{
    background: #e3e3e3;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 30px;
}
.footer-follow{
    font-size: 20px;
    /* font-weight: 500; */
}
.social-media .col-md-4{
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #707070;
}
.footer-info{
    font-size: 20px;
    color: #707070;
}
.contact-us{
    font-size: 20px;
    color: #707070;
}
.copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 17px;
    color: #707070;
}
.copyright-text{
    text-align: right;
}
.policy-div{
    display: inline;
}
.policy-div li{
    margin-right: 20px;
    display: inline;
}
.social-media i{
    margin-right: 7px;
    font-size: 20px;
}
@media (max-width: 1200px) {
    .arms-text-div{
        padding: 50px 10px;
    }
    #event-img{
        width: 200px;
        height: 200px;
    }
    .countdown-li span{
        margin-top: 0;
    }
}
@media (max-width: 1000px){
    .arms-img-div{
        margin-left: 0;
    }
    .transcend-div{
        padding: 1px 2px;
    }
    .trans-text{
        margin-left: 25px;
        margin-right: 0;
    }
    .trans-img-div{
        margin-right: 60px;
    }
}
@media (max-width: 800px){
    #section{
        margin: 0;
    }
    .trans-text{
        margin-left: 50px;
    }
}