/* root styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    list-style: none;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    animation-duration: 2s !important;
    animation-delay: 0.8s;
}
header{
    background-image: url(/images/header-bg.jpg);
    height: 100vh;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.navbar{
    padding: 10px;
    background: rgb(56, 18, 56);
}
a:hover{
    text-decoration: none;
}
.ul-nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0;
}
.header-nav-link{
    color: white !important;
    display: flex;
    font-size: 15px;
    font-weight: bold;

}
.nav-link:hover{
    color: gold !important;
    transform: scale(1.05);
    animation: ease-in-out 0.8s;
}

#nav-logo{
    width: 50px;
    height: 50px;
    margin-right: 25rem;
    margin-left: 10rem;
}
nav li{
    display: inline;
}
.carousel-div{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item{
    color: white;
    text-align: center;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    display: none !important;
}
.slide-h2{
    font-size: 42px;
    color: #ffd700;
    text-transform: uppercase;
    font-weight: bold;
}
.slide-p{
    font-size: 20px;
    font-family: verdana;
    font-weight: 500;
    margin-top: 15px;
}
.carousel-indicators{
    display: none;
}
.countdown-div{
    height: 50vh;
}

.wfm-text-logo{
    width: 10px;
    height: 5px;
}
.cw-div, .transcend-div, .metamorphoo-div{
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    background-repeat: none;
    margin-bottom: 50px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 40vh; */

} 
.arms-div div img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}
#trans-img{
    width: 400px;
    object-fit: contain;
}
.arms-img-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 300px;

}
.cw-div{
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/WEB\ \(CW\).jpg);
      background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: none;
}
.transcend-div{
     background-image: linear-gradient(rgba(105, 24, 24, 0.6), rgba(66, 4, 4, 0.6)), url(/images/TW\ 1.jpg);
     background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: none;
}
.metamorphoo-div{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/WEB\ MN.jpg);
      background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: none;
}
.lightstream-div{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/images/lightsream.jpg);
      background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: none;
}
.arms-text-div{
    width: 700px;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.arms-text-div{
    padding: 50px;
}
.arms-link{
    color: white;
    border:  0.1rem solid white;
    border-radius: 1rem;
    padding: 15px 50px;
    font-size: 15px;
    margin-top: 10px;
}
.arms-link:hover{
    text-decoration: none;
    background: white;
    color: black;
}
.trans-img-div{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 300px;
}
.conference{

}
.conference-h1{
    text-align: center;
    color: #707070;
}
.conference-h2{
    text-align: center;
    font-size: 20px;
    color: #707070;
}
.conference-img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-top: 30px;
}
.conference-title{
    padding-top: 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #444444;
}
.conference-desc{
    text-align: center;
    font-size:14px;
    font-weight: 400;
    color: #444444;

}
.conference-post{
    display: flex ;
    /* justify-content: space-between; */
    overflow-x: scroll;
}
.conference-box{
    margin-right: 150px;
}
.conference-link{
    color: #444444;
    border:  0.15rem solid #444444;
    border-radius: 1rem;
    padding: 5px 20px;
    font-size: 9px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    margin-left: 90px;
}
.conference-link:hover{
    text-decoration: none;
    background: #444444;
    color: white;
}
/* width */
/* ::-webkit-scrollbar{
  width: 5px;
  height: 8px;
}

/* Track */

 
/* Handle */
/* ::-webkit-scrollbar-thumb{
  background: rgb(88, 80, 80); 
  border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover{
  background: #575252;  */
} */ */