

/* Conferences Section */
.conference{
    margin-top: 80px;
}
.conference-container {
  position: relative;
  /* width: 1000px; */
  height: 800px;
  overflow: hidden;
  cursor: grab;
}
.conference-cards {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(6, 300px);
  grid-gap: 50px;
  pointer-events: none;
}
.conference-h1{
    text-align: center;
    color: #707070;
}
.conference-h2{
    text-align: center;
    font-size: 20px;
    color: #707070;
}
.conference-img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-top: 30px;
}
.conference-title{
    padding-top: 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #444444;
}
.conference-desc{
    text-align: center;
    font-size:14px;
    font-weight: 400;
    color: #444444;
}
.conference-post{
    display: flex ;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}
.conference-link{
    color: #444444;
    border:  0.15rem solid #444444;
    border-radius: 1rem;
    padding: 5px 20px;
    font-size: 9px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    margin-left: 90px;
}
.conference-link:hover{
    text-decoration: none;
    background: #444444;
    color: white;
}
.conference-img-div img{
    border-radius: 9px;
}