@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
header{
    background-image: url(/images/DSC_0093.jpg);
    height: 100vh;
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.navbar{
    padding: 10px 9%;
    background: rgb(56, 18, 56);
}
a:hover{
    text-decoration: none;
}
.ul-nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0;
}
.header-nav-link{
    color: white !important;
    display: flex;
    font-size: 15px;
    font-weight: bold;

}
.nav-link:hover{
    color: gold !important;
    transform: scale(1.05);
    animation: ease-in-out 0.8s;
}
.navbar-collapse{
    justify-content: flex-end;
}
#nav-logo{
    width: 50px;
    height: 50px;
}
nav li{
    display: inline;
}
.link-hover-effect-1 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0.5rem 0;
}

.link-hover-effect-1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: translateX(-105%);
  transition: transform 0.5s ease-in-out;
}

.link-hover-effect-1:hover::before {
  transform: translateX(0);
}

.container{
    max-width:  900px;
}
.wwa{
    padding: 30px;
}
.wwa-p{
    max-width: 900px;
    font-size: 20px;
    line-height: 35px;
    text-align: justify;

}
.our-min-img{
    width: 700px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 30px;
    /* margin:0 60px 30px; */

}
.conference-img-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    max-width: 900px;
}
.conference-img{
    width: 220px;
    height: 280px;
    object-fit: cover;
}
.conference-p{
    max-width: 900px;
    font-size: 18px;
    line-height: 35px;
}
.pastor-div{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: nowrap;
    /* max-width: 1000px; */
    margin-left: 20px;
}
.pastor-img{
    height: 400px;
    width: 400px;
    margin-right: 60px;
}
.pastor-text{
    max-width: 420px;
    text-align: justify;
    line-height: 40px;
}

/*Footer Styles*/

footer{
    background: #e3e3e3;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 30px;
}
.footer-follow{
    font-size: 20px;
    /* font-weight: 500; */
}
.social-media .col-md-4{
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #707070;
}
.footer-info{
    font-size: 20px;
    color: #707070;
}
.contact-us{
    font-size: 20px;
    color: #707070;
}
.copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 17px;
    color: #707070;
}
.copyright-text{
    text-align: right;
}
.policy-div{
    display: inline;
}
.policy-div li{
    margin-right: 20px;
    display: inline;
}
.social-media i{
    margin-right: 7px;
    font-size: 20px;
}

/**Media Queries**/
@media (max-width: 1000px) {
    .wwa-p, .conference-p{
        font-size: 15px;
        line-height: 28px;
    }
    .wwa-h1{
        font-size: 20px;
    }
    .wwa-h2{
        font-size: 18px;
    }
    .pastor-img{
        width: 350px;
        height: 350px;
    }
    .pastor-text{
        font-size: 13px;
        line-height: 40px;
        max-width: 300px;
    }
    .conf-img-3{
        display: none;
    }
    .conf-img-2, .conf-img-1{
        width: 290px;
        height: 180px;
    }
    .our-min-img{
    width: 500px;
    height: 250px;
    }
    footer,  .copyright, .footer-info, .footer-follow, .contact-us{
        font-size: 15px;
    }
    .copyright{
        margin-top: 20px;
    }
    .footer-info{
        margin-bottom: 0;
    }
    header{
        height: 50vh;
    }
    
}
@media (max-width: 900px){
    .pastor-div{
        flex-direction: column;
        align-items: center;
    }
    .pastor-img{
        text-align: center;
        margin: 0;
    }
    .pastor-text{
        text-align: justify;
        line-height: 30px;
    }
}

@media (max-width: 700px){
   .conf-img-1{
        display: none;
    }
    .conf-img-2{
        width: 500px;
        height: 250px;
    }
}
@media (max-width: 576px) {
    .our-min-img{
        width: 400px;
        height: 150px;
    }
    .conf-img-1{
        display: none;
    }
    .conf-img-2{
        padding: 10px;
        width: 500px;
        height: 150px;
    }
    .wwa{
        padding: 8px 15px;
    }
    .wwa-p, .conference-p{
        font-size: 12px;
        line-height: 25px;
    }
    .wwa-h1{
        font-size: 18px;
    }
    .wwa-h2{
        font-size: 15px;
    }
    .pastor-div{
        margin-left: 0;
    }
    .pastor-text{
        font-size: 12px;
        line-height: 20px;
        margin-top: 10px;
    }
}